<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Information</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="main_container">
    <div class="main_to">메인</div>
    <div class="main"></div>
</div>
<h1>Server Information</h1>
<ul>
    <li>SW_TYPE: <span th:text="${serverInfo['SW_TYPE']}"></span></li>
    <li>SW_NM: <span th:text="${serverInfo['SW_NM']}"></span></li>
    <li>SW_INFO: <span th:text="${serverInfo['SW_INFO']}"></span></li>
    <li>HOST_NM: <span th:text="${serverInfo['HOST_NM']}"></span></li>
    <li>DATE: <span th:text="${serverInfo['DATE']}"></span></li>
    <li>TIME: <span th:text="${serverInfo['TIME']}"></span></li>
    <li>IP_ADDRESS: <span th:text="${serverInfo['IP_ADDRESS']}"></span></li>
    <li>UNIQ_ID: <span th:text="${serverInfo['UNIQ_ID']}"></span></li>
</ul>
</body>
</html>
